apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  labels:
    app: mongodb-nana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb-nana
  template:
    metadata:
      labels:
        app: mongodb-nana
    spec:
      containers:
      - name: mongodb-nana
      image: mongo
      ports:
           - containerPort: 27017
      env:
      - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mysecret
              key: MONGO_INITDB_ROOT_USERNAME
      - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysecret
              key: MONGO_INITDB_ROOT_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-nana-service
spec:
  selector:
    app: mongodb-nana
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
